.list-row {
    width: 90%;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8rem;
    cursor: pointer;
}
.red {
    color: red !important;
    border-color: red !important;
}
.price-red{
    color: red;
}
.chip-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}
.price-chip,
.chip-icon {
    color: green;
    border: 2px solid green;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}
.chip-icon {
    border-radius: 50%;
    font-size: 0.25rem !important;
    padding: 0.3rem;
}
table {
    width: 100%;
}
.coin-item {
    width: 100%;
}

.list-row:hover {
    background-color: var(--darkgrey);
    transition: all 0.3s;
}

.list-row td {
    width: 20%;
    text-align: left;
}

.td-img {
    width: 3rem !important;
    margin-right: 1rem;
}

.td-img img {
    max-width: 100%;
    object-fit: cover;
}

.td-info {
    width: 10rem !important;
}

.td-current-price {
    width: 6rem !important;
    text-align: right !important;
}

.td-totalVolume,
.td-marketCap {
    text-align: right !important;
}
.current-price-red{
    color: red;
}
.mobile {
    display: none;
}

.coin-symbol {
    text-transform: uppercase;
}
@media only screen and (max-width: 900px) {
    .td-chip-icon {
        display: none;
    }

    .list-row td {
        font-size: 0.7rem;
    }

    .td-totalVolume {
        display: none;
    }

    .td-current-price {
        text-align: center !important;
    }

    .list-row {
        width: 88%;
        padding: 1.5rem 0rem;
    }

    .coin-image-td {
        height: 2rem;
        width: 2rem;
    }

    .td-info {
        width: 6rem !important;
    }
}
@media only screen and (max-width: 600px) {
    .td-marketCap,
    .td-chip-icon {
        display: none !important;
    }
    .mobile {
        display: block !important;
        text-align: left !important;
    }
    .list-row td,
    .td-p {
        font-size: 0.6rem !important;
    }

    .td-info {
        width: 4rem !important;
    }

    .coin-image-td {
        height: 2rem !important;
        width: 2rem !important;
    }
}
.grid-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.list-flex {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .list-flex {
        width: 100%;
    }
}
